<div class="container">
    <div ng-repeat='message in messages | filter:search'>
        <div class="onemessage">
            <h2>Message Sent: {{message.message}} </h2>
            <h2>Time at sending: {{message.created}} </h2>
            <h2>Picture of sender: </h2>
            <br>
            <image src="/images/{{message.pictureurl}}">      
        </div>
    </div>
</div>
