<div class="container">
    <div ng-repeat='message in messages | filter:search'>
        <div class="onemessage">
            <div class="well">
                <legend>{{message.getDate}} </legend> 
                <div class="row">
                    <div class="col-xs-6">
                        <div class="crop" ng-if="glitch">
                            <img class="rimg" src="/images/{{message.pictureurl}}">     
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h2>Message Sent: {{message.message}} </h2>
                        <h2>Stayed for {{message.staytime}} minutes</h2>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
